@font-face {
    font-family: 'Inter';
    src: url(/fonts/InterVariable.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-italic';
    src: url('/fonts/InterVariableItalic.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

:root{
  --sidebar-bg-color: #0f172a;
  --accent-color: #a3e635;
  --card-bg-color: #fafafa;
  --grey-bg-color: #c9d3df;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
}

/*== RESET ==*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* ========== Sidebar ========== */
.sidebar{
  background-color: var(--sidebar-bg-color);
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 1rem;
  grid-row: 1 / 3;
  justify-content: start;
  align-items: center;
}

.large-Dashboard{
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 2rem;
  font-size: 2rem;
  align-self: start;
  margin-top: 2rem;
}

.sidebar #top-sidebar{
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
  grid-row: 2 / 3;
  align-self: start;
}

.sidebar #top-sidebar li {
  display: grid;
  grid-template-columns: 30px 1fr;
  column-gap: 1rem;
  align-items: center;
}


.sidebar #bottom-sidebar{
  display: grid;
  gap: 15px;
  grid-row: 3 / 3;
  align-self: start;
  padding-bottom: 500px;
}

.sidebar #bottom-sidebar li {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  column-gap: 1rem;
}


.sidebar ul {
    padding: 0;
    list-style: none;
}

.sidebar li {
    margin: 0;
    padding: 6px 20px;
    font-size: 1.5rem;
}

.sidebar li::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 12px;
    background-size: contain;
    background-repeat: no-repeat;
}

.sidebar .large-Dashboard::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    background-size: contain;
    background-repeat: no-repeat;
}

/**Sidebar icons**/
.sidebar .large-Dashboard::before {
  background-image: url('/icons/lightning.svg');
  filter: brightness(0) invert(1);
}
.sidebar #top-sidebar li:nth-child(1)::before {
  background-image: url('/icons/home-variant.svg');
  filter: brightness(0) invert(1);
}

.sidebar #top-sidebar li:nth-child(2)::before {
  background-image: url('/icons/account.svg');
  filter: brightness(0) invert(1);
}

.sidebar #top-sidebar li:nth-child(3)::before {
  background-image: url('/icons/message.svg');
  filter: brightness(0) invert(1);
}

.sidebar #top-sidebar li:nth-child(4)::before {
  background-image: url('/icons/history.svg');
  filter: brightness(0) invert(1);
}

.sidebar #top-sidebar li:nth-child(5)::before {
  background-image: url('/icons/file-multiple.svg');
  filter: brightness(0) invert(1);
}

.sidebar #top-sidebar li:nth-child(6)::before {
  background-image: url('/icons/account-group.svg');
  filter: brightness(0) invert(1);
}


/*Bottom of sidebar*/
.sidebar #bottom-sidebar li:nth-child(1)::before {
  background-image: url('/icons/cog.svg');
  filter: brightness(0) invert(1);
}

.sidebar #bottom-sidebar li:nth-child(2)::before {
  background-image: url('/icons/help.svg');
  filter: brightness(0) invert(1);
}

.sidebar #bottom-sidebar li:nth-child(3)::before {
  background-image: url('/icons/shield-check.svg');
  filter: brightness(0) invert(1);
}




ul{
  list-style: none;
}


/* ========== Header ========== */
.header{
  display: grid;
  grid-template-columns: minmax(auto, 800px) 1fr;
  grid-template-rows: 3rem 10rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding-left: 1rem;
}

.search-bar{
  display: grid;
  grid-template-columns: 2rem 1fr;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  column-gap: 2rem;
}

.magnify{
  justify-self: end;
}

input {
  background-color: var(--grey-bg-color);
  border-radius: 20px;
  border: none;
}

.bell-ava-name{
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1fr;
  align-items: center;
  justify-items: center;
  padding-top: .6rem;
  padding-right: 1rem;
  justify-self: end;
}

.main-name{
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 800;
  justify-self: start;
}

.icon{
  height: 1.5rem;
  width: 1.5rem;
}

.main-avatar{
  width: 3rem;
  border-radius: 50%;
}

.bell{
  height: 1.5rem;
  width: 1.5rem;
  justify-self: end;
}

.greeting{
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
}

.greeting .main-avatar{
  align-self: center;
  grid-row: 1 / 3;
  width: 5rem;
}

.greeting .hello{
  font-size: 1rem;
  align-self: end;
}

.greeting .name{
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1rem;
  justify-content: end;
  align-items: center;
  padding-right: 1rem;
}

button {
  background: none;
  background-color: var(--sidebar-bg-color);
  border: none;
  padding: .5rem 2rem;
  margin: 0;
  font: inherit;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}


/* ========== Main Content ========== */
p {
  max-width: 65ch;
}

.content{
  background-color: var(--grey-bg-color);
  padding: 1rem;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto auto 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}


/*project section*/

.card{
  background-color: var(--card-bg-color);
  border-radius: 5%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-left: 10px solid var(--accent-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card > h1{
  font-size: 1.5rem;
}

.project-container{
  grid-row: 1 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2rem repeat(3, auto);
  gap: 2rem;
  align-items: stretch;
}

.proj-Header{
  grid-column: 1 / 3;
  padding-top: .5rem;
}

.card-buttons{
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card-buttons > button{
  background-color: var(--card-bg-color);
}

.card-buttons .icon {
  width: 2rem;
  height: 2rem;
}

.card > h1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.card > p{
  grid-column: 1 / 3;
}


/*Announcements section */
.announce-container{
  padding-top: .5rem;
  grid-row: 1 / 3;
}

.announce-container > h1{
  margin-top: .5rem;
}


.a-cards{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  background-color: var(--card-bg-color);
  border-radius: 5%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.a-card{
  padding: 1rem;
}


/*Trending Section*/
.trending-container{
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: stretch;
  gap: 0;
}

.t-cards{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: start;
  background-color: var(--card-bg-color);
  padding: 1rem;
  border-radius: 5%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.trending-container > h1 {
  margin-top: 1rem;
}


